.button {
  display: inline-block;
  border: none;
  overflow: hidden;
  margin: 1rem;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: $primary-color;

  &.button-primary {
    color: white;
    background-color: $primary-color;
  }

  &.button-primary:hover {
    box-shadow: 0 0 5px 0 rgba($primary-color, 0.5);
    background-color: darken($primary-color, 10%);
  }

  &.button-round {
    border-radius: 2rem;
  }

  &.size--small {
    padding: 0.4rem 0.5rem;
    margin: 0.1rem;
  }
}